.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.Moveble-block {
  width: 200px;
  height: 100px;
  border: 2px solid black;
  z-index: 1;
  position: absolute;
  cursor: grab;
  text-align: center;
}